@media screen and (max-width:300rem){
    header .container{
    margin: auto;
    padding-left: 4rem;    
    display: flex;
    flex-direction: column;
    }

}

@media screen and (min-width:400px){
    .descricao{
        width:fit-content;
        padding-left: 4rem;
    }
}