<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Abaixo é somente para resolver o bug de favicon.ico 404 -->
    <!-- <link rel="icon" href="data:,"> -->
	<!-- <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAADElEQVQI12P4//8/AAX+Av7czFnnAAAAAElFTkSuQmCC"> -->
	<link rel="shortcut icon" href="./images/htmlicon.png">
    <title>Alexandre Paes</title>
    <link rel="stylesheet" href="./static/style.css">
    <!--responsividade-->
    <link rel="stylesheet" href="./static/responsive.css">
</head>

<body>
	
	<main>
		<div class="main"></div>
			<section id="services">
				
				<div class="container">
					<nav>
						<a href="#">Inicio</a>
						<a href="#services">Serviços</a>
						<a href="#about">Sobre</a>
						<a href="#experiences">Experiências</a>
						<a href="#contact">Contato</a>
					</nav>
				</div>    
				<div class="main-title">
					<h2 class="logo">Alexandre Paes - Consultoria e Terceirizações</h2>
				</div>
					<h2>Serviços</h2>
				<ul>
					<li>Criação de websites e aplicativos para computadores e smartphones (Python; Django; Flask; Javascript; React...)</li>
					<li>Criação, implementação e gerenciamento de e-commerces mono e multivendors</li>
					<li>Criação de processos de automação de escritórios para empresas (Python; Excel)</li>
					<li>Criação e implementação de processos para coleta, tratamento, armazenamento e manipulação de dados (Engenharia e Análise de dados)</li>
					<li>Criação e implementação de infraestrutura para todo o ciclo de desenvolvimento de software (DevOps; DevSecOps)</li>
					<li>Políticas de segurança da informação em conformidade com a LGPD e ISO27001/2/5</li>
					<li>Auditoria e perícia teleinformático</li>
					<li>Testes de segurança em software, hardware e redes além da engenharia social em colaboradores</li>
					<li>Planejamento, automação e gerenciamento de estratégias de marketing digital e de redes sociais</li>
					<li>Recrutamento e seleção de talentos técnicos de 2 a 4 semanas</li>
					<li>Tradução e intercionalização de empresas, produtos e projetos</li>
					<li>Projetos de infraestrutura de redes de computadores e instalação de servidores</li>
					<li>Manutenção de dispositivos móveis como notebooks e smartphones</li>
					<li>Treinamentos e mentorias para completo iniciantes e juniores com pouca ou sem experiência (Software; Dados; Marketing Digital)</li>
					<li>CTO as a Service, para planejamento, implementação e gerenciamento de projetos para integração de times e soluções tecnológicas</li>
				</ul>
			</section>

			<section id="about">
					<h2>Sobre o Profissional</h2>
					<p>Alexandre Paes, nascido em Campo Grande, MS, Brasil, trabalhou e atuou em diversas
						empresas e cargos em vários países, onde aprendeu muitas habilidades como programação,
						engenharia e análise de dados, marketing digital, por exemplo, tendo atuado boa parte do
						tempo com tecnologias físicas como hardware e redes de computadores, até quando fez a transição
						total para a programação e relacionados, como o DevOps e Segurança da Informação em 2018, já
						quando era Sênior em Infraestrutura e Redes de Computadores e propritário da London Computadores
						Soluções em TI, que foi iniciada em Londres, Inglaterra em 2009 e que hoje está inativa.</p>

					<p>Hoje, graduado em Análise e Desenvolvimento de Sistemas e pós graduado em Segurança da
						Informação, se dedica em ajudar pessoas e empresas a resolverem problemas de negócios através
						da tecnologia, fazendo uso de ferramentas, métodos e técnicas robustas e de forma eficaz e
						eficiente de acordo com cada demanda e situação, atendendo de forma mais personalizada e
						customizada cada cliente.</p>
			</section>

			<section id="experiences">
				<h2>Minhas experiências</h2>
				<ul>
					<li>Engenheiro de Software e DevOps - Locus Custom Software [ 08/10/2021 – 14/09/2022 ] <br><br>

						Cidade: Recife <br><br>

						País: Brasil <br><br>

						Backend Python Developer trabalhando com Django lidando com um Oracle Database legado tendo que
						misturar Django padrões com cxOracle mais padrões python puros para caber em alguns ou muitos códigos SQL,
						para entregar milhões de solicitações e respostas por minuto em todo o Brasil. Alguns projetos que usamos
						Django, alguns deles eram para estender e modernizar produtos legados que trabalhamos sem ORM e outros
						que eram projetos novos desenvolvemos e implementamos usando Django com ORM, criando um novo e
						traduzido do português para esquema de banco de dados em inglês. Também fui responsável pelo DevOps do
						ambiente de desenvolvimento, fazendo upload em um primeiro momento, depois configurando-o e puxando via
						git todas as atualizações do projeto para um servidor Linux, tendo que sincronizar todos os contêineres do
						legado e do novo front-end e também do back-end. Eu participei também diferentes projetos específicos para
						DevOps e/ou para Segurança de Sistemas de Informação, principalmente com Azure e AWS. <br>
						<br>
						Software Development Stack: <br><br>
						1. Python, Django, Oracle, Docker, Celery, Swagger <br><br>
						
						Azure DevOps Stack: <br><br>
						1. Java, Maven, Powershell, Bash Script, Docker</li> <br><br>

					
						<li>Desenvolvedor Python - Xogito Group Inc [ 09/05/2021 – 13/09/2021 ] <br><br>

						Cidade: New York - Remoto a partir do Brasil <br><br>

						País: Estados Unidos <br><br>

						Desenvolvimento de uma plataforma de formação em normas internacionais de segurança da informação -
						CMMC Cyber Security Training Platform.
						Este cliente foi o governo dos EUA para treinamento de funcionários públicos com os quais trabalhei com uma
						multinacional e
						também companheiros de equipe multiculturais principalmente da Europa Oriental e eu estava focado em criar
						APIs REST com Flask framework com um grande número de diferentes níveis de permissões e também
						simulando dados com PostgreSQL. <br><br>

						Stack: <br><br>

						1. Python, Flask, PostgreSQL, SQLAlchemy, Alembic, Marshmallow</li><br><br>


					<li>Desenvolvedor Web Full Stack - Sports Sponsorship ROI Data Analytics [ 15/11/2020 – 31/03/2021 ] <br><br>

						Cidade: Londres - Remoto a partir do Brasil <br><br>

						País: Reino Unido <br><br>

						Os deveres incluíam desenvolvimento web com alguma análise de dados, expondo dados extraídos por meio de
						scrappers sendo plotados a alguns gráficos em painéis. Nosso CTO era tecnicamente habilidoso, mas carecia de
						algumas habilidades de inglês melhores, então trabalhei muito próximo, então pude ajudá-lo a liderar as
						reuniões e os diários do projeto com a multinacional
						e equipe cultural. Eu estava focado na parte de back-end do projeto, mas dando uma mão sempre que
						necessário no front-end. Era tipo 70% back-end e 30% front-end, fazendo revisões de codificação e integração
						com o back-end e também implantando com AWS lambda e AWS terraform. <br><br>
						
						Stacks: <br><br>

						1. Python Django: Desenvolvendo todo o back-end com django, grafeno, fastapi, postgresql, terraform e aws <br><br>

						2. React.js/ Node.js: Fazendo revisões de código e depuração e também a integração com o back-end e
						implantar para produção via aws lambda e terraform para aws</li><br><br>

					<li> Outras Experiências como Freelancer em Manutenção de Hardware e Redes de Computadores, Desenvolvimento
						de Software, Engenharia e Análise de Dados, Segurança da Informação, DevOps, Marketing Digital, CTO as a
					    service, Coaching e Mentoria de Tecnologias, fizeram parte de cargos direta ou indiretamente, mas que não
						foram adicionadas para efeito de resumo.</li>	
				</ul>
			</section>
			<br>
			<section id="contact">
				<h3>Contato - ( Whatsapp Business: +55 67 9 8129-8130 )</h3>
				<form action="/confirm" method="post">
					<input type="text" name="name" placeholder="Nome">
					<input type="email" name="email" placeholder="E-mail">
					<input type="text" name="phone" placeholder="Telefone nesse formato: xx-9-xxxx-xxxx">
					<input type="text" name="message" placeholder="Mensagem">
					<input type="submit" value="Enviar">
				</form>
			</section>

			<footer>
				<div class="footer">
					<div>
						<p>Minhas Redes Sociais Para Mais Conteúdos:</p>
						<ul>
							<li><a href="https://www.linkedin.com/in/alexandre-paes/" target="_blank">Me siga no LinkedIn</a></li><br>
							<li><a href="https://twitter.com/LondonCompSTI" target="_blank">Me siga no Twitter</a></li><br>
							<li><a href="https://www.instagram.com/londoncomputadores/" target="_blank">Me siga no Instagram</a></li><br>
							<li><a href="https://www.facebook.com/london.computadores" target="_blank">Me siga no Facebook</a></li><br>
							<li><a href="https://github.com/LondonComputadores" target="_blank" color="white">Me siga no Github</a></li><br>
						</ul>
					</div>
					<div class="copyright">
						<p>Copyright &copy; 2023 Alexandre Paes</p>
						
						<p><a href="#">Voltar ao Topo</a></p>
						<br>

						<!-- <a href="#">
							<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Google_Translate_icon.svg/1200px-Google_Translate_icon.svg.png" alt="Right Click and Select Traduzir para o English">
						</a> -->
						<p>Right Click On Any Empty Space and Select 'Traduzir para o English'</p>
					</div>	
				</div>	
			</footer>
					
		</div>
	</main>
		
    <!-- <script src="./static/script.js"></script> -->
</body>
</html>
